<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="contents_wrap">
    <form>

        <hr>
        <br>
        <div class="product_list">
            <dl>
                <dt>
                    <img src="image/인천축제1.PNG" style="width:200px; height:200px;">
                </dt>
                <dd class="name">언더시티프로젝트x힛 업 더 스트릿</dd>
                <dd class="duration">개최기간: 2023. 7. 29. / 13:00~24:00</dd>
                <dd class="Hosting area">개최지역: 인천시 부평구</dd>
                <dd class="place">축제 장소:부평로 시장로, 평리단길 일대</dd>
                <dd class="cost">요금: 무료</dd>
            </dl>
            <dl>
                <dt>
                    <img src="image/숲속퍼펫축제.PNG" style="width:200px; height:200px;">
                </dt>
                <dd class="name">숲속 퍼펫 파크축제</dd>
                <dd class="duration">개최기간: 2023. 7. 29. / 11:30~16:30</dd>
                <dd class="Hosting area">개최지역: 경기도 수원시</dd>
                <dd class="place">축제 장소:경기상상캠퍼스 공간 1986</dd>
                <dd class="cost">요금: 유료/대인(만 14세 이상) 10000원, 소인(24개월~만 14세 미만) 2000원</dd>
            </dl>
            <dl>
                <dt>
                    <img src="image/가족사랑축제.JPG" style="width:200px; height:200px;">
                </dt>
                <dd class="name">가족사랑 아이스축제</dd>
                <dd class="duration">개최기간: 2023. 7. 29. / 10:30~16:00</dd>
                <dd class="Hosting area">개최지역: 인천시 부평구</dd>
                <dd class="place">축제 장소:부평로 시장로, 평리단길 일대</dd>
                <dd class="cost">요금: 무료</dd>
            </dl>
            <dl>
                <dt>
                    <img src="image/인천축제1.PNG" style="width:200px; height:200px;">
                </dt>
                <dd class="name">언더시티프로젝트x힛 업 더 스트릿</dd>
                <dd class="duration">개최기간: 2023. 7. 29. / 10:30~16:00</dd>
                <dd class="Hosting area">개최지역: 대구시 서구</dd>
                <dd class="place">축제 장소:부평로 시장로, 평리단길 일대</dd>
                <dd class="cost">요금: 무료</dd>
            </dl>
            <dl>
                <dt>
                    <img src="image/인천축제1.PNG" style="width:200px; height:200px;">
                </dt>
                <dd class="name">언더시티프로젝트x힛 업 더 스트릿</dd>
                <dd class="duration">개최기간: 2023. 7. 29. / 10:30~16:00</dd>
                <dd class="Hosting area">개최지역: 인천시 부평구</dd>
                <dd class="place">축제 장소:부평로 시장로, 평리단길 일대</dd>
                <dd class="cost">요금: 무료</dd>
            </dl>
            <dl>
                <dt>
                    <img src="image/인천축제1.PNG" style="width:200px; height:200px;">
                </dt>
                <dd class="name">언더시티프로젝트x힛 업 더 스트릿</dd>
                <dd class="duration">개최기간: 2023. 7. 29. / 10:30~16:00</dd>
                <dd class="Hosting area">개최지역: 인천시 부평구</dd>
                <dd class="place">축제 장소:부평로 시장로, 평리단길 일대</dd>
                <dd class="cost">요금: 무료</dd>
            </dl>
            <dl>
                <dt>
                    <img src="image/인천축제1.PNG" style="width:200px; height:200px;">
                </dt>
                <dd class="name">언더시티프로젝트x힛 업 더 스트릿</dd>
                <dd class="duration">개최기간: 2023. 7. 29. / 10:30~16:00</dd>
                <dd class="Hosting area">개최지역: 인천시 부평구</dd>
                <dd class="place">축제 장소:부평로 시장로, 평리단길 일대</dd>
                <dd class="cost">요금: 무료</dd>
            </dl>
            <dl>
                <dt>
                    <img src="image/인천축제1.PNG" style="width:200px; height:200px;">
                </dt>
                <dd class="name">언더시티프로젝트x힛 업 더 스트릿</dd>
                <dd class="duration">개최기간: 2023. 7. 29. / 10:30~16:00</dd>
                <dd class="Hosting area">개최지역: 인천시 부평구</dd>
                <dd class="place">축제 장소:부평로 시장로, 평리단길 일대</dd>
                <dd class="cost">요금: 무료</dd>
            </dl>
            <dl>
                <dt>
                    <img src="image/인천축제1.PNG" style="width:200px; height:200px;">
                </dt>
                <dd class="name">언더시티프로젝트x힛 업 더 스트릿</dd>
                <dd class="duration">개최기간: 2023. 7. 29. / 10:30~16:00</dd>
                <dd class="Hosting area">개최지역: 인천시 부평구</dd>
                <dd class="place">축제 장소:부평로 시장로, 평리단길 일대</dd>
                <dd class="cost">요금: 무료</dd>
            </dl>
        </div>
    </form>
</div>
</body>
</html>